In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os

In [3]:
path = r'C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\job_events\1'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:

    df = pd.read_csv(filename, index_col=None, header=0)

    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)

In [4]:
df.columns = ["time", "missing info", "job ID", "event type", "user", "scheduling class", "job name", "logical job name"]

In [7]:
df.count()

time                5088
missing info           0
job ID              5088
event type          5088
user                5088
scheduling class    5088
job name            5088
logical job name    5088
dtype: int64

In [16]:
job_events_time1 = df.groupby(['time'])['user'].count().reset_index()

In [18]:
print (job_events_time1)

              time  user
0     246152712720     1
1     246152715307     1
2     246156921917     1
3     246156921931     1
4     246156921975     1
...            ...   ...
5058  251155316185     1
5059  251155316440     1
5060  251155316449     1
5061  251157082150     1
5062  251158892444     1

[5063 rows x 2 columns]

In [20]:
job_events_job_ID1 = df.groupby(['job ID'])['time'].count().reset_index()
print (job_events_job_ID1)

          job ID  time
0     3436840924     1
1     3436840960     1
2     3461629288     1
3     3461671900     1
4     3461704815     1
...          ...   ...
1869  6280835416     2
1870  6280835642     2
1871  6280835949     2
1872  6280836100     2
1873  6280836459     2

[1874 rows x 2 columns]

In [21]:
job_events_event_type1 = df.groupby(['event type'])['time'].count().reset_index()
print (job_events_event_type1)

   event type  time
0           0  1719
1           1  1720
2           3    15
3           4   899
4           5   735

In [22]:
job_events_user1 = df.groupby(['user'])['time'].count().reset_index()
print (job_events_user1)

                                            user  time
0   +iyX5HUcQOQV5mUASrNLoNQJlMbHRmriS33GBzFYzNE=     2
1   /2WebBqImWuoAsnGB4CcpuKuNXVXCMiNPvDLG5cMlPQ=     3
2   /DWNzLUYt1b87cIWYd0vW5P9iNmPH8XdJVuqbOl+e4o=     1
3   07YMt+54AmVeMivAZ6AgIC+yR4U1ALbWtJbiJtFzxJY=     4
4   0r3naaX+ybfsUIahb35AvYPC6MarnPhbqkAtRJor0xE=   105
..                                           ...   ...
86  wsng30Jlcz5uJwHk7Q4yu6kSs/clYk5ZueogoR3Jxxg=     5
87  x9/OkL6ZidRfPAA3v6CRFi/7gJGG3f6NT55KX108/Ss=     8
88  xywY3J00scxM/UNCVAmhXC7qH1apcbgx/29CoF4q5sk=    12
89  ycZRNU4RSQwgWWUZA4vMXg1cwARkHIDNw9cDpJ+TiVE=     6
90  ycbMkTOh7F0buLKJlg4BU3OcBWrvF/JTZkXp9iv5zDg=    36

[91 rows x 2 columns]

In [23]:
job_events_scheduling_class1 = df.groupby(['scheduling class'])['time'].count().reset_index()
print (job_events_scheduling_class1)

   scheduling class  time
0                 0  1844
1                 1  1732
2                 2  1481
3                 3    31

In [24]:
job_events_job_name1 = df.groupby(['job name'])['time'].count().reset_index()
print (job_events_job_name1)

                                          job name  time
0     +5gz0J6rlbguIkzEaiCNjYt5WjTccWHqc3tZI9EOEek=    17
1     +7u2FFE2/pPOBH/wNdVvrBg7gHdxq+343kNKhgTQCCo=     2
2     +9EzwD8YXQd+k7+ng0OCGXieH3MBbsVBvmgrxBfBQoI=     1
3     +B9bSJQKBYdengbirRVESPbCZgXCcVJYP0dubMoNlvM=     1
4     +COS6nbTa5cQQbZsV5xj51k4TFGV8dqoVhlu4czqzVM=    24
...                                            ...   ...
1462  zjb+G0bfjmVCA57KAHFYuUVsDl6RzITatJkUwI5TQUM=     3
1463  zovrs5aBRiCwy/TAVoe6tqp7QqySToKVMQRUllK+8go=     3
1464  zuqRM0zi55+3+zdAl23kVCFohfj4vUEACEDIdvjbmjo=     3
1465  zvKMlJyGFZWJB4yl628RG4ABqftdy9HVQkXJwFUGNu0=     3
1466  zyMyRgJhc0y5BagJpztKZz+PjihongmTqw5dRQCE52c=     3

[1467 rows x 2 columns]

In [25]:
job_events_logical_job_name1 = df.groupby(['logical job name'])['time'].count().reset_index()
print (job_events_logical_job_name1)

                                 logical job name  time
0    +2LYx7I2upuCRSEQvQNLDE5/fbzR4m8XJD2ia3Nr/uc=     9
1    +2e60iSA4SZRgF1VihhFgmr5q5NPEjNB1FCm89hnRAU=     5
2    +6+FEzeVr66ZponZHMTdVR5Yx/4H+BDl2fNNo0eGSdA=     3
3    +93MdoVpao/dbc2WrLlVtLIw/MVTWlfklhntEC9AeQU=     3
4    +93WtR/l6JoFvcuobqJ7tFqCIJEZ9jHUiKsOLIU6FS8=     2
..                                            ...   ...
894  zqiOolRkQYCg/tQYSXW2RuQA5dKeTYLxB2VoZdj5F/I=     3
895  zqilhxeI/aVgWUiqsJ6Yt3L8097L4jee+C5hGl1U/T8=     3
896  zr91QJty4RwUqe0NXpEQmhuPJR+JTXi+buIUVCd/SIg=     3
897  zu9gruWjPzDdIOJU/wbeu1YHsy7qHrl9amdr8UZjsWw=     1
898  zuvvKETrmeo6n5oO7mhr47ZLtj3gVaOaNZaZWoaqBJc=     3

[899 rows x 2 columns]

In [26]:
path = r'C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\job_events\2'
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:

    df1 = pd.read_csv(filename, index_col=None, header=0)

    li.append(df1)

frame = pd.concat(li, axis=0, ignore_index=True)

In [27]:
df1.columns = ["time", "missing info", "job ID", "event type", "user", "scheduling class", "job name", "logical job name"]

In [29]:
print (df1)

              time  missing info      job ID  event type  \
0     496723693965           NaN  6300119207           0
1     496723693965           NaN  6300119207           1
2     496723698322           NaN  6300115239           4
3     496723698359           NaN  6300115384           5
4     496723698364           NaN  6300115511           5
...            ...           ...         ...         ...
2742  501713600612           NaN  6300404988           4
2743  501713600651           NaN  6300405093           5
2744  501713600656           NaN  6300405350           5
2745  501714513609           NaN  6300390683           1
2746  501717662840           NaN  6300424714           4

                                              user  scheduling class  \
0     uO/pnH/9X8t0BOJNMkdDDH6lu2lMkhiqfDPLv8R2YZE=                 3
1     uO/pnH/9X8t0BOJNMkdDDH6lu2lMkhiqfDPLv8R2YZE=                 3
2     fJeARInTaIjFrdXGqxap6x2T3TpJB84y9zvFsoGGhjk=                 2
3     fJeARInTaIjFrdXGqxap6x2T3TpJB84y9zvFsoGGhjk=                 0
4     fJeARInTaIjFrdXGqxap6x2T3TpJB84y9zvFsoGGhjk=                 2
...                                            ...               ...
2742  9GFAxBWefZgy0kq2JqWsNbLELh83RjADrFYsb7JLu28=                 2
2743  9GFAxBWefZgy0kq2JqWsNbLELh83RjADrFYsb7JLu28=                 0
2744  9GFAxBWefZgy0kq2JqWsNbLELh83RjADrFYsb7JLu28=                 2
2745  68CsCZngOkuQn5lVo+dNXKGoFx9ZmJXWR+W7NAUmEH4=                 1
2746  F2+Gv53Pxd4KDRb/UsGECThH/XUOpcWKElUXJkhkt1c=                 0

                                          job name  \
0     KKpQH3ycyv+rMWD3i/ChaRIfZ7Qsd+WSb+ltnj2I4HQ=
1     KKpQH3ycyv+rMWD3i/ChaRIfZ7Qsd+WSb+ltnj2I4HQ=
2     Lr7tni61BRePAVSG74QjmYrsftV5lmm2ej0nTzeoQsc=
3     EkfwE7P0/2T1IHwuYgOgRdf9wUURLG83gn6OpBgMstI=
4     Jq5ITyF2rZHI6s+7dBjpgCJeJ42R69dn+QJAtr+xRZE=
...                                            ...
2742  8ZCVjFJSjXKxg/l5mwOmYOlQbxaeqjTKADZsdrjL8Ao=
2743  zjwxURJQvPe2wWkBaZtdANTESre1HMN8XefAA2tLeaM=
2744  /huZoNJEbvxqhYHmIcjgJBYOpum7V5dcdOTxQKE6iXI=
2745  rJe+HgfopjKiGAi44YrYH5dmEpPBi0VSYKJe+p5jaow=
2746  Qc2rjkP3kVLHtmurJuvOEwObo2BNkjGGgQhG8gpsS1Y=

                                  logical job name
0     CLIaFf3TW0bskFImp4j4VuVrw1JAde4yohct7wCcY/8=
1     CLIaFf3TW0bskFImp4j4VuVrw1JAde4yohct7wCcY/8=
2     azrDmMUllbmKwthWNxfpqUWO4UEd8r0NMc95j5tNaFA=
3     cUdjbM2RJcB7/4KX3NdHpQnyyDtBq4l5+rAK3SWjpPw=
4     1VyFciXoOQlVF2NCDO0gjgkFKljlC9Hs1pjXN+2VQHk=
...                                            ...
2742  DwmoQYkUg6UXrWLFEnLbDM+K93lt0CyCmVOuJ9LKY4s=
2743  wzBNlUreHF3yBGIPJn2E87ieiC7ge5p/Yp9FfRtSfM8=
2744  XyTaUe/me0tUnpKZpKYoKXH5FkrW9rHkper+qJ0Jjyo=
2745  /tR99Zbx+h+cOieCrXA6Kgt/zJawZuhQ8eKsKodf0MQ=
2746  2N2Ubknr/Ly7V95poeYFNAXQISDBZ8iSTPs6KaZ1wQw=

[2747 rows x 8 columns]

In [19]:
import os
import numpy as np

path =r"C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\task_constraints"
allFiles = glob.glob(os.path.join(path,"*.csv"))

np_array_list = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    np_array_list.append(df)

comb_np_array = np.vstack(np_array_list)
big_frame = pd.DataFrame(comb_np_array)
big_frame.count()

0    28485119
1    28485119
2    28485119
3    28485119
4    28485119
5    25335932
dtype: int64

In [21]:
big_frame.columns = ["time", "job ID", "task index", "comparison operator", "attribute name","attribute value"]
print (big_frame.head())

  time   job ID task index comparison operator  \
0    0  3418314          0                   0
1    0  3418314          1                   1
2    0  3418314          1                   0
3    0  3418368          0                   1
4    0  3418368          0                   0

                                 attribute name attribute value
0  o/0PSEOQ9jWyzNMXehU3dXqePQIE2QxyxyknZMT1k4c=             NaN
1  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=               0
2  o/0PSEOQ9jWyzNMXehU3dXqePQIE2QxyxyknZMT1k4c=             NaN
3  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=               0
4  o/0PSEOQ9jWyzNMXehU3dXqePQIE2QxyxyknZMT1k4c=             NaN

In [24]:
task_constraints_time = big_frame.groupby(['time'])['job ID'].count().reset_index()
print (task_constraints_time)

                   time  job ID
0                     0  116151
1             600026913       3
2             600803090       1
3             600819256       3
4             600819259       3
...                 ...     ...
14756568  2506199589479       3
14756569  2506199602664       3
14756570  2506199602667       3
14756571  2506199602819       3
14756572  2506199602822       3

[14756573 rows x 2 columns]

In [25]:
task_constraints_job_ID = big_frame.groupby(['job ID'])['time'].count().reset_index()
print (task_constraints_job_ID)

           job ID  time
0         3418309    10
1         3418314    13
2         3418319    16
3         3418324    16
4         3418329    24
...           ...   ...
55267  6486564476     3
55268  6486564510     3
55269  6486577241     3
55270  6486604417     3
55271  6486624020     3

[55272 rows x 2 columns]

In [26]:
task_constraints_task_index = big_frame.groupby(['task index'])['time'].count().reset_index()
print (task_constraints_task_index)

      task index     time
0              0  1029135
1              1   801360
2              2   792478
3              3   784890
4              4   781763
...          ...      ...
9232       18341        2
9233       18661        2
9234       18805        2
9235       19006        2
9236       19440        2

[9237 rows x 2 columns]

In [27]:
task_constraints_comparison_operator = big_frame.groupby(['comparison operator'])['time'].count().reset_index()
print (task_constraints_comparison_operator)

   comparison operator      time
0                    0   3283711
1                    1  23490170
2                    2     16698
3                    3   1694540

In [28]:
task_constraints_attribute_name = big_frame.groupby(['attribute name'])['time'].count().reset_index()
print (task_constraints_attribute_name)

                                  attribute name      time
0   5dEuieuWMFy+CNMBBf/uXNX5nP4Kgzeu0O6UizRNK3w=   1665097
1   9eCGRtl6XN5GQoOYGEjKtupBbtUoOaOPYRFw+pzH7IU=     42684
2   ByISK6v8seuIxB23FGnamad97zwwKG2auw7Zs6h9Boc=      1257
3   GKAYWlOFlntxaxFt+CCHj/Og1BgToNx62SMW9WHlf8g=  20411729
4   JuC3qp6rNF75IKHBZk+mvRBuWbEf6K4O8bYI/Hgf0cs=      7336
5   P8+B0KAkfqBJpl39uPlZpJ7YZsatZX4rEX5f/y6+xIU=       168
6   QhD5ID81G094A0+wLhb+ZjN1sdaQlwkKAB2e+4xxqwo=        51
7   QlHb0NMTSytpaiRqXo9rzLE+wu5f7Cx4uvIm3KZc8lQ=     30128
8   StKUa3Jpf/WqqtUVvj209AVGVQDdyOFFKA0yOKzyFUQ=       171
9   UXoyQksNeYIycY9Dk5zo16RRSKQIgIGvbf3eic2t9W8=     52720
10  mansM6bIlckDBqXz7zIl+IJeUAIfrXYa5wIgb3fzoO8=    168652
11  nUunno7yG6iADfwBlhLHkExuJRd+Nscd90G9NZj+YTQ=   2856717
12  nZ5q1pI72dPJKYidMWRLsv1e8b+NPCQFiRoRA9oJUs4=       346
13  o/0PSEOQ9jWyzNMXehU3dXqePQIE2QxyxyknZMT1k4c=   3149019
14  rsWF8cgwVBDr1TZCW03bSkJCI+MnigTfUXxRMy+PCrA=     71101
15  w3/Je6spb3dt6QfX5PwD2MXqxLTzNur/Ts5JrAwl8xQ=     13470
16  wNqCDsckjGmkiJStuw+dRMj7oqxTnYssARjPB96ws4Y=     14473

In [29]:
task_constraints_attribute_value = big_frame.groupby(['attribute value'])['time'].count().reset_index()
print (task_constraints_attribute_value)

                                   attribute value  time
0     ++4wXa757/I9mBf47KHHIzHMSV7Td4HxmMS3xYXPidg=    24
1     ++WEO2NRGNhXDMrs2cB3vvkapyYTqpddauXDW6U1leQ=    15
2     +0c4xMyID2OqH9HCUYru1kggzk9PcxN/3hbP+g+EuL8=    15
3     +0oLb4Qy0/zzkzQv9/swjNGO4Yix/Y5J7c06rTr4e+c=    24
4     +1e9BIk966lrhwOg2AZsW4YJKe01yq5dfCtmpe0a40E=     3
...                                            ...   ...
5990  zsq2YcaAPmeh8lprU99IR6nR2V6x1TOMSF0d8G/J1SU=     9
5991  zw4nE7T1LZxMG4sIbSN+fk+TAHSReeG7DtkSoBQbqIA=     9
5992  zwO+D3fz4C/FgfwsFwQtApG+JBcozxa/K/HUN2UotSk=    24
5993  zxP6XVmELMeZcw9Xxf+AP6/CCgghDI8UkQfktZ82uTI=    33
5994  zzOe9fmT0NGKrf9ARO3MZJXm5w4/ndH0Ty85tT+V9D4=     6

[5995 rows x 2 columns]

In [30]:
path =r"C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\job_events"
allFiles = glob.glob(os.path.join(path,"*.csv"))

np_array_list = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0)
    np_array_list.append(df)

comb_np_array = np.vstack(np_array_list)
job_events = pd.DataFrame(comb_np_array)
job_events.count()

0    2011742
1         19
2    2011742
3    2011742
4    2011742
5    2011742
6    2011742
7    2011742
dtype: int64

In [31]:
job_events.columns = ["time", "missing info", "job ID", "event type", "user", "scheduling class", "job name", "logical job name"]
print (job_events.head())

  time missing info   job ID event type  \
0    0          NaN  3418314          0
1    0          NaN  3418319          0
2    0          NaN  3418324          0
3    0          NaN  3418329          0
4    0          NaN  3418334          0

                                           user scheduling class  \
0  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                3
1  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                3
2  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                3
3  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                3
4  70s3v5qRyCO/1PCdI6fVXnrW8FU/w+5CKRSa72xgcIo=                3

                                       job name  \
0  L52XDyhi9x9ChmVBZ1qavOFmnzPeVsvQ2QyGmBZcV4s=
1  vq0IN3BWEbkDjYgYvkrVyH6OWoUoDwFFf3j/syEZzLA=
2  X+Vce15Yu3BCKb7Ttc6hvINAzdfG3NtYEDNNsPdMGKo=
3  EeK3DUWYi1P0vgBTp7wZdUos8UKj/+/FqudTLohMQ9M=
4  noCrQkR+8CU32ibuNmNvobHFFGuXRZ2aM/ZvcMHaOg4=

                               logical job name
0  ShNjeaoUeqGV2i9WMKEX9HTeuc9K2Fdfovibt7Mp6qI=
1  1A2GM17AzHRcKJcJet/oIF7FOORyFcAOcUSpR9Fqou8=
2  seczVo7MBfi/kH3+eH/40Hxs0l2YKFtXFnamcvMjSQI=
3  OEeQsaVr4kdGHFwQ2liQlDZ18529HEMmu6B6/3K1cBA=
4  ys6VJLz4Tz6SJxZJ7kwAZgxPgWnQAQiGIRIMcjOfU7I=

In [32]:
job_events_time = job_events.groupby(['time'])['user'].count().reset_index()
print (job_events_time)

                  time  user
0                    0  7969
1            604046276     1
2            604046279     1
3            605569012     1
4            612141652     1
...                ...   ...
1996949  2506187199142     1
1996950  2506187199146     1
1996951  2506187199161     1
1996952  2506193647828     1
1996953  2506198229242     1

[1996954 rows x 2 columns]

In [33]:
job_events_missing_info = job_events.groupby(['missing info'])['time'].count().reset_index()
print (job_events_missing_info)

   missing info  time
0           0.0     3
1           1.0    16

In [34]:
job_events_job_ID = job_events.groupby(['job ID'])['time'].count().reset_index()
print (job_events_job_ID)

            job ID  time
0          3418309     1
1          3418314     2
2          3418319     2
3          3418324     2
4          3418329     2
...            ...   ...
672069  6486633859     3
672070  6486634035     3
672071  6486638013     3
672072  6486638079     2
672073  6486641236     3

[672074 rows x 2 columns]

In [35]:
job_events_event_type = job_events.groupby(['event type'])['time'].count().reset_index()
print (job_events_event_type)

   event type    time
0           0  671912
1           1  671966
2           2      22
3           3   10123
4           4  385371
5           5  272326
6           6      16
7           8       6

In [36]:
job_events_user = job_events.groupby(['user'])['time'].count().reset_index()
print (job_events_user)

                                             user  time
0    +1FmidGvPEtSIUb/sNfYW604cEUUmyhWukDdV7QXpUI=     2
1    +3JB3kdkUWPSK/CxL2eTwBJ+2emDAp9S+1URmz7bH2E=     3
2    +3Or0zjiTkLBDAV7IVth75JTKUOVJKvvxQQSWQc/5hw=     4
3    +Af/i5ZErwztHIZu1WncL3sjY6IP9qyJNINnOsleT0Y=    22
4    +BW2jvyXVN9T37gC63oaM8+kpVC5ZtzzPvx5CnygmmY=    70
..                                            ...   ...
928  zZtc/fotcDEcO98GBDvQiI4IddYi9SucFSBEaUzLkec=    87
929  zeOTLPYUxvhd2Jp2WPFisu7zxq4UfGpWFVoYJ3+sVRQ=    26
930  zhUibmUKwFFszcow/5iDqvUEpYO3exqflkL/lEh8FYw=    39
931  zw1n/yVS+nVzkMJvYOR68YEiqR0e1O3TVLh6u84gaQE=     2
932  zyqKEVQfA+CBmoD1JDIwJ5wn/o5Fndkv8dA0+MSoyao=    57

[933 rows x 2 columns]

In [37]:
job_events_scheduling_class = job_events.groupby(['scheduling class'])['time'].count().reset_index()
print (job_events_scheduling_class)

   scheduling class    time
0                 0  771105
1                 1  643753
2                 2  582204
3                 3   14680

In [39]:
job_events_job_name = job_events.groupby(['job name'])['time'].count().reset_index()
print (job_events_job_name)

                                            job name  time
0       +++1ObF269NV1aTgP5znAOU8xxFYAp/UcYwy5sNlMvA=     3
1       +++sqlEchaj/nf6dKJkam5kA95f6oE/ndhlaRQ4geXo=     3
2       ++1AmhU5thtS5MEhjeFnk5lJ+4z/G4Rc/Z6y2G7o/CQ=    12
3       ++2ZwMH76a01ICLsdRUJnsoWV+VZ9VxbJ5X/gINgXec=     3
4       ++5aCDvWI02KfKpNXfAPfOBTT8NuxzIjlFlWvGj7zp0=     3
...                                              ...   ...
183950  zzwx5DDpy/GBVme01D8Pc1FA/fGOaXxG5/MiOTjaAPs=     3
183951  zzxbNAeZVS2wMXWk4i5KLE54cYFWS1yybBHLW7DO11M=     3
183952  zzyBpD1anH7kHwKF4nExLbClBSFXwsxSZ9Qkix6Grms=     3
183953  zzyVUtdngWluj2po9Yzl/iAmoVBitirJb0AOI3jdHBM=     9
183954  zzyaANpsfAoUgJACWmomOJmowlaiNcgRL/1HJO9tB5o=     3

[183955 rows x 2 columns]

In [40]:
job_events_logical_job_name = job_events.groupby(['logical job name'])['time'].count().reset_index()
print (job_events_logical_job_name)

                                   logical job name  time
0      ++/lmS2qU6VPOtvnQQ4yED3uT3p3/oqNfTaj7BM811U=    12
1      ++2ed3MyRcG20EmzEPiYuSGzQW7dk0D5IHvaXWPpwtA=     3
2      ++DJYlhSE6aukLTjITRCuikKlNvhbuqxTkH1kJ4XcWo=    27
3      ++EyEGJxqyUSAfC833yDP07szT062IpNL4QE1aXtJt4=     3
4      ++IpSK3QKHJ5QfuKC8TGUUvI80zE+lAcumf/JHzKg0A=    27
...                                             ...   ...
39725  zzXESBly1N+nMQwIGnnXZ9LcD7njl6TCimbYHOyKQKI=     3
39726  zzfU/0NoMaKdmmJ+9aEMEW4L9b6sr/N03hKHZV5xsH0=     3
39727  zzsq8qy6dS3ZbTOdx4JT6WJkQFUy+nufK5PjBmrmPuM=     3
39728  zztx56T370LcrdA3/w0AIVhx0ZTA6DhG8AP/n1IqOSo=     3
39729  zzyXXqYH1aYRpGl3JxyTk8XIApgQMz6NXs8Tpb56rbo=   129

[39730 rows x 2 columns]

In [41]:
machine_attributes = pd.read_csv (r'C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\machine_attributes\part-00000-of-00001.csv',header=None)
machine_attributes.columns = ["time", "machine ID", "attribute name", "attribute value", "attribute deleted"]

In [42]:
print (machine_attributes.head())

   time  machine ID                                attribute name  \
0     0           5  +8aLrMrUBQLYLD4Ndxi/ZmwwKGhtFGskL8ZSdChYMdo=
1     0           5  4chZqkETND7f4XrzdWLe8c1eLHKuYgjnUMSV+83EYFA=
2     0           5  5dEuieuWMFy+CNMBBf/uXNX5nP4Kgzeu0O6UizRNK3w=
3     0           5  81Cd14q4ebyI/3TPkkIwGYlB/mvKhBUk3e/E8egb4s0=
4     0           5  9eCGRtl6XN5GQoOYGEjKtupBbtUoOaOPYRFw+pzH7IU=

  attribute value  attribute deleted
0               1                  0
1               1                  0
2               2                  0
3               2                  0
4               2                  0

In [43]:
machine_attributes_time = machine_attributes.groupby(['time'])['machine ID'].count().reset_index()
print (machine_attributes_time)

                   time  machine ID
0                     0      538615
1             600047033           1
2             601622558           1
3             603308990           1
4             604046621           1
...                 ...         ...
10164269  2506197665701           1
10164270  2506197665841           1
10164271  2506197665944           1
10164272  2506197666015           1
10164273  2506197666068           1

[10164274 rows x 2 columns]

In [44]:
machine_attributes_machine_ID = machine_attributes.groupby(['machine ID'])['time'].count().reset_index()
print (machine_attributes_machine_ID)

       machine ID  time
0               5  1034
1               6   196
2               7   605
3              10   424
4              13   844
...           ...   ...
12578  6415979192    99
12579  6437385645   123
12580  6453653899    65
12581  6455072430   141
12582  6457070948   149

[12583 rows x 2 columns]

In [45]:
machine_attributes_attribute_name = machine_attributes.groupby(['attribute name'])['time'].count().reset_index()
print (machine_attributes_attribute_name)

                                  attribute name   time
0   +8aLrMrUBQLYLD4Ndxi/ZmwwKGhtFGskL8ZSdChYMdo=  12583
1   0xo576GO0NtrJrOsohXyU1rcY2xvi5Tvbus9zY1AzJI=    317
2   3CusDtw4S6+y7vNAxt3TErcLThHzyAXmG7n18SwY1KM=    725
3   4chZqkETND7f4XrzdWLe8c1eLHKuYgjnUMSV+83EYFA=  12583
4   5A/UHgbeJPGWK0VQpMLoGVRejsVhhFE57cBUjlOo6gI=   1847
..                                           ...    ...
62  w3/Je6spb3dt6QfX5PwD2MXqxLTzNur/Ts5JrAwl8xQ=  12590
63  wNqCDsckjGmkiJStuw+dRMj7oqxTnYssARjPB96ws4Y=   7549
64  xrLPEfaLoWqEPusv42iPso8MZvlF92N/A3o5pR/IMCQ=  12743
65  zeTYeXds5XbzYVzUiHe9t3y9K3L5vndxaOFW8btTjU4=  12583
66  zqEOkdzktGuy9oI7M6oIKxqbyfanRB/pf+3HPNLTSqg=  12583

[67 rows x 2 columns]

In [46]:
machine_attributes_attribute_value = machine_attributes.groupby(['attribute value'])['time'].count().reset_index()
print (machine_attributes_attribute_value)

                                    attribute value  time
0      ++4wXa757/I9mBf47KHHIzHMSV7Td4HxmMS3xYXPidg=     1
1      ++BEx8xTOGc4SllohIqCa4CcroOZUwKm8da23RhTCp0=     1
2      ++WEO2NRGNhXDMrs2cB3vvkapyYTqpddauXDW6U1leQ=     1
3      ++ewimRqiOisXwoY4OaouVYqmJgNKUBVUCnB4pjXHO4=     1
4      ++vjU+mpa55bQBghnIQH7C+Rk1C0ZotFovX0P2Ya9v0=     1
...                                             ...   ...
18006  zya8mAlbwIba6mVq5khuS3e3DPkIeNXZi0dGmmGTdN4=     9
18007  zyucNn9yutc2OzrXyjnY/YGTJtDM8ivWtiwrjqn71a8=     1
18008  zzNKK21EF9ivYGdFpWNOl9A+E7IbwxHY3/+hdH4Ff2U=     1
18009  zzOe9fmT0NGKrf9ARO3MZJXm5w4/ndH0Ty85tT+V9D4=     1
18010  zzwCVdJYZ8mYWLqjHvBpMCjucCP5Q/GAEFOa2ch7Dj8=     1

[18011 rows x 2 columns]

In [47]:
machine_attributes_attribute_deleted = machine_attributes.groupby(['attribute deleted'])['time'].count().reset_index()
print (machine_attributes_attribute_deleted)

   attribute deleted      time
0                  0  10748332
1                  1       234

In [48]:
machine_events = pd.read_csv (r'C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\machine_events\part-00000-of-00001.csv',header=None)
machine_events.columns = ["time", "machine ID", "event type", "platform ID", "CPUs","Memory"]

In [51]:
machine_events = machine_events.dropna()

In [52]:
machine_events_time = machine_events.groupby(['time'])['machine ID'].count().reset_index()
print (machine_events_time)

                time  machine ID
0                  0       12477
1          779231019           1
2          974363601           1
3         1460219913           1
4         2071421510           1
...              ...         ...
25267  2505897195359           1
25268  2506070744967           1
25269  2506097126581           1
25270  2506129491172           1
25271  2506135493517           1

[25272 rows x 2 columns]

In [53]:
machine_events_machine_ID = machine_events.groupby(['machine ID'])['time'].count().reset_index()
print (machine_events_machine_ID)

       machine ID  time
0               5     3
1               6     1
2               7     1
3              10     3
4              13     3
...           ...   ...
12578  6415979192     1
12579  6437385645     3
12580  6453653899     2
12581  6455072430     1
12582  6457070948     1

[12583 rows x 2 columns]

In [54]:
machine_events_event_type = machine_events.groupby(['event type'])['time'].count().reset_index()
print (machine_events_event_type)

   event type   time
0           0  21411
1           1   8957
2           2   7380

In [55]:
machine_events_platform_ID = machine_events.groupby(['platform ID'])['time'].count().reset_index()
print (machine_events_platform_ID)

                                    platform ID   time
0  70ZOvysYGtB6j9MUHMPzA2Iy7GRzWeJTdX0YCLRKGVg=    510
1  GtXakjpd0CD41brK7k/27s3Eby3RpJKy7taB9S8UQRA=   2223
2  HofLGzk1Or/8Ildj2+Lqv0UGGvY82NLoni8+J/Yy0RU=  35015

In [56]:
machine_events_CPUs = machine_events.groupby(['CPUs'])['time'].count().reset_index()
print (machine_events_CPUs)

   CPUs   time
0  0.25    510
1  0.50  35015
2  1.00   2223

In [57]:
machine_events_Memory = machine_events.groupby(['Memory'])['time'].count().reset_index()
print (machine_events_Memory)

    Memory   time
0  0.03085      6
1  0.06158      3
2  0.12410     97
3  0.24930  10188
4  0.24980    510
5  0.49950  21731
6  0.50000      5
7  0.74900   2983
8  0.96780      7
9  1.00000   2218

In [3]:
path =r"C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\task_events\1"
allFiles = glob.glob(os.path.join(path,"*.csv"))

np_array_list = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0, usecols = [0,2,3,5,7,8,9,10,11])
    np_array_list.append(df)

comb_np_array = np.vstack(np_array_list)
task_events1 = pd.DataFrame(comb_np_array)
task_events1.count()

0    15274638
1    15274638
2    15274638
3    15274638
4    15274638
5    15274638
6    15274348
7    15274348
8    15274348
dtype: int64

In [4]:
task_events1.columns = ['time', 'job ID', 'task index', 'event type', 'scheduling class', 'priority', 'CPU request', 'memory request', 'disk space request']

In [6]:
task_events1 = task_events1.dropna(subset=['CPU request', 'memory request', 'disk space request'])

In [8]:
task_events1_time = task_events1.groupby(['time'])['job ID'].count().reset_index()
print (task_events1_time) 
task_events1_job_ID = task_events1.groupby(['job ID'])['time'].count().reset_index()
print (task_events1_job_ID) 
task_events1_task_index = task_events1.groupby(['task index'])['time'].count().reset_index()
print (task_events1_task_index) 
task_events1_scheduling_class = task_events1.groupby(['scheduling class'])['time'].count().reset_index()
print (task_events1_scheduling_class) 
task_events1_priority = task_events1.groupby(['priority'])['time'].count().reset_index()
print (task_events1_priority) 
task_events1_CPU_request = task_events1.groupby(['CPU request'])['time'].count().reset_index()
print (task_events1_CPU_request) 
task_events1_memory_request = task_events1.groupby(['memory request'])['time'].count().reset_index()
print (task_events1_memory_request) 
task_events1_event_type = task_events1.groupby(['event type'])['time'].count().reset_index()
print (task_events1_event_type) 
task_events1_disk_space_request = task_events1.groupby(['disk space request'])['time'].count().reset_index()
print (task_events1_disk_space_request)

                  time  job ID
0         0.000000e+00  277030
1         6.000269e+08       1
2         6.000469e+08       1
3         6.000469e+08       1
4         6.000470e+08       1
...                ...     ...
14996940  1.308894e+11       1
14996941  1.308894e+11       1
14996942  1.308894e+11       1
14996943  1.308894e+11       1
14996944  1.308894e+11       1

[14996945 rows x 2 columns]
             job ID  time
0      3.418309e+06     2
1      3.418314e+06     4
2      3.418319e+06     2
3      3.418324e+06     2
4      3.418329e+06     3
...             ...   ...
35453  6.267725e+09     2
35454  6.267725e+09     2
35455  6.267726e+09    64
35456  6.267726e+09     2
35457  6.267733e+09     3

[35458 rows x 2 columns]
       task index    time
0             0.0  161710
1             1.0   45910
2             2.0   41199
3             3.0   38887
4             4.0   37875
...           ...     ...
20005     20005.0     116
20006     20006.0      95
20007     20007.0     122
20008     20008.0      86
20009     20009.0       3

[20010 rows x 2 columns]
   scheduling class      time
0               0.0  13559250
1               1.0    971262
2               2.0    652451
3               3.0     91385
   priority      time
0       0.0  11486388
1       1.0    486500
2       2.0   1099509
3       4.0   1938218
4       5.0        15
5       6.0     33657
6       8.0     41433
7       9.0    169913
8      10.0      3906
9      11.0     14809
     CPU request   time
0       0.000000  55762
1       0.000625  33788
2       0.001249     54
3       0.001562     10
4       0.001625      7
..           ...    ...
693     0.381300    550
694     0.406200     50
695     0.433100     34
696     0.437500    149
697     0.500000     51

[698 rows x 2 columns]
      memory request   time
0       0.000000e+00   1311
1       9.537000e-07    215
2       1.526000e-05    496
3       6.199000e-05    216
4       1.554000e-04  10208
...              ...    ...
1242    4.297000e-01    366
1243    5.088000e-01      4
1244    5.098000e-01     38
1245    6.367000e-01     22
1246    9.551000e-01     11

[1247 rows x 2 columns]
   event type     time
0         0.0  5172684
1         1.0  5068360
2         2.0   752487
3         3.0  2737084
4         4.0   961097
5         5.0   582176
6         7.0       13
7         8.0      447
     disk space request   time
0          0.000000e+00  16208
1          9.537000e-07  14985
2          1.907000e-06   2706
3          2.861000e-06     29
4          3.815000e-06  17889
..                  ...    ...
489        7.042000e-03    366
490        7.721000e-03   9007
491        7.736000e-03     66
492        9.720000e-03      9
493        1.131000e-02  12149

[494 rows x 2 columns]

In [2]:
path =r"C:\Users\Qinghua\Desktop\2\111AAAProject\data\newData\clusterdata-2011-2\task_usage\1"
allFiles = glob.glob(os.path.join(path,"*.csv"))

np_array_list = []
for file_ in allFiles:
    df = pd.read_csv(file_,index_col=None, header=0, usecols = [0,1,2,3,5,6,7,8,9,10,13,14])
    np_array_list.append(df)

comb_np_array = np.vstack(np_array_list)
task_usage1 = pd.DataFrame(comb_np_array)
task_usage1.count()

0     12210229
1     12210229
2     12210229
3     12210229
4     12210229
5     12210229
6     12210229
7     12210229
8     12210229
9     12210229
10    12210229
11    11795028
dtype: int64

In [11]:
del task_events1

In [4]:
task_usage1.columns = ["start time", "end time", "job ID", "task index", "CPU rate", "canonical memory usage"
              , "assigned memory usage" , "unmapped page cache", "total page cache", "maximum memory usage"
              , "local disk space usage", "maximum CPU rate"]

In [6]:
task_usage1 = task_usage1.dropna(subset=['CPU rate', 'canonical memory usage', 'assigned memory usage'])

In [7]:
task_usage1_start_time = task_usage1.groupby(['start time'])['end time'].count().reset_index()
print (task_usage1_start_time)

         start time  end time
0      6.000000e+08    131319
1      6.010000e+08        19
2      6.020000e+08        18
3      6.030000e+08        21
4      6.040000e+08        20
...             ...       ...
24958  2.565100e+10        18
24959  2.565200e+10        10
24960  2.565300e+10        14
24961  2.565400e+10        11
24962  2.565500e+10        17

[24963 rows x 2 columns]

In [8]:
task_usage1_end_time = task_usage1.groupby(['end time'])['start time'].count().reset_index()
print (task_usage1_end_time)

           end time  start time
0      6.010000e+08          19
1      6.020000e+08          18
2      6.030000e+08          30
3      6.040000e+08          25
4      6.050000e+08          37
...             ...         ...
25145  2.579600e+10          12
25146  2.579700e+10          20
25147  2.579800e+10          25
25148  2.579900e+10          15
25149  2.580000e+10      132522

[25150 rows x 2 columns]

In [9]:
task_usage1_job_ID = task_usage1.groupby(['job ID'])['start time'].count().reset_index()
print (task_usage1_job_ID)

            job ID  start time
0     3.418309e+06         167
1     3.418314e+06         168
2     3.418319e+06         168
3     3.418324e+06         168
4     3.418329e+06         252
...            ...         ...
9635  6.253229e+09           2
9636  6.253230e+09           2
9637  6.253230e+09          75
9638  6.253231e+09           1
9639  6.253231e+09           1

[9640 rows x 2 columns]

In [10]:
task_usage1_task_index = task_usage1.groupby(['task index'])['start time'].count().reset_index()
print (task_usage1_task_index)

       task index  start time
0             0.0      360794
1             1.0      141617
2             2.0      109735
3             3.0       89886
4             4.0       83639
...           ...         ...
20005     20005.0          84
20006     20006.0          84
20007     20007.0          84
20008     20008.0          84
20009     20009.0          84

[20010 rows x 2 columns]

In [11]:
task_usage1_CPU_rate = task_usage1.groupby(['CPU rate'])['start time'].count().reset_index()
print (task_usage1_CPU_rate)

          CPU rate  start time
0     0.000000e+00     1023455
1     9.537000e-07          34
2     1.907000e-06          84
3     2.861000e-06         116
4     3.815000e-06         103
...            ...         ...
5725  1.541000e+00           1
5726  1.787000e+00           1
5727  4.336000e+00           1
5728  6.633000e+00           1
5729  1.703000e+01           1

[5730 rows x 2 columns]

In [12]:
task_usage1_canonical_memory_usage = task_usage1.groupby(['canonical memory usage'])['start time'].count().reset_index()
print (task_usage1_canonical_memory_usage)

      canonical memory usage  start time
0               0.000000e+00     1168991
1               9.537000e-07          39
2               1.907000e-06         130
3               2.861000e-06         184
4               3.815000e-06         191
...                      ...         ...
5400            5.820000e-01          12
5401            5.938000e-01           4
5402            5.947000e-01          73
5403            5.957000e-01           7
5404            7.520000e-01         168

[5405 rows x 2 columns]

In [13]:
task_usage1_assigned_memory_usage = task_usage1.groupby(['assigned memory usage'])['start time'].count().reset_index()
print (task_usage1_assigned_memory_usage)

      assigned memory usage  start time
0                  0.000000     1189020
1                  0.000007           8
2                  0.000012           7
3                  0.000013           9
4                  0.000019          16
...                     ...         ...
5273               0.554700          84
5274               0.636700         256
5275               0.637700          84
5276               0.754900          84
5277               0.758800          84

[5278 rows x 2 columns]

In [14]:
task_usage1_unmapped_page_cache = task_usage1.groupby(['unmapped page cache'])['start time'].count().reset_index()
print (task_usage1_unmapped_page_cache)

      unmapped page cache  start time
0            0.000000e+00     1177775
1            9.537000e-07        3769
2            1.907000e-06        3986
3            2.861000e-06        4246
4            3.815000e-06        4030
...                   ...         ...
4863         2.009000e-01           1
4864         2.014000e-01           1
4865         2.021000e-01           1
4866         2.029000e-01           1
4867         2.124000e-01           1

[4868 rows x 2 columns]

In [15]:
task_usage1_total_page_cache = task_usage1.groupby(['total page cache'])['start time'].count().reset_index()
print (task_usage1_total_page_cache)

      total page cache  start time
0         0.000000e+00     1177080
1         9.537000e-07        1745
2         1.907000e-06        1208
3         2.861000e-06        1152
4         3.815000e-06         879
...                ...         ...
4997      2.275000e-01          19
4998      2.278000e-01          23
4999      2.280000e-01         127
5000      2.283000e-01          24
5001      2.285000e-01           4

[5002 rows x 2 columns]

In [16]:
task_usage1_maximum_memory_usage = task_usage1.groupby(['maximum memory usage'])['start time'].count().reset_index()
print (task_usage1_maximum_memory_usage)

      maximum memory usage  start time
0                 0.000000     1170199
1                 0.000002           1
2                 0.000003           2
3                 0.000004           1
4                 0.000005           2
...                    ...         ...
5466              0.582000          62
5467              0.593800           2
5468              0.594700          31
5469              0.595700          51
5470              0.752000         168

[5471 rows x 2 columns]

In [17]:
task_usage1_local_disk_space_usage = task_usage1.groupby(['local disk space usage'])['start time'].count().reset_index()
print (task_usage1_local_disk_space_usage)

      local disk space usage  start time
0               0.000000e+00     1024433
1               9.537000e-07           1
2               1.907000e-06           4
3               2.861000e-06           4
4               3.815000e-06          43
...                      ...         ...
7016            1.828000e+01           1
7017            2.866000e+01           1
7018            6.425000e+01           1
7019            8.375000e+01           1
7020            5.370000e+02           1

[7021 rows x 2 columns]

In [18]:
task_usage1_maximum_CPU_rate = task_usage1.groupby(['maximum CPU rate'])['start time'].count().reset_index()
print (task_usage1_maximum_CPU_rate)

      maximum CPU rate  start time
0         0.000000e+00      884177
1         9.537000e-07          27
2         1.907000e-06          44
3         2.861000e-06          58
4         3.815000e-06          56
...                ...         ...
5348      1.330000e+00           1
5349      1.404000e+00           1
5350      1.602000e+00           1
5351      1.811000e+00           1
5352      1.098000e+01           1

[5353 rows x 2 columns]